{% extends "bootstrap/base.html" %}

{% block title %}Covid-19 感染者割合マップ{% endblock %}

{% block head %}
{{super()}}
<style type="text/css">
    .container {
        display: flex;
    }
    .frameL {
        background-color:#e0ffff;
        max-width:600px;
        flex: 1;
    }
    .frameR {
        background-color: #ffe4af;
        flex: 1;
        padding: 0.5em;
    }
</style>

<!--見やすい政府コロナ情報 https://www.mhlw.go.jp/content/000699304.pdf-->
<!-- 東京都コロナ データ分析結果とコメント https://www.fukushihoken.metro.tokyo.lg.jp/iryo/kansen/monitoring.html-->
<!-- 以下は2/26現在時点での情報 -->
<!-- 分かりやすい現状説明と疑問の解決 「緊急事態宣言から1ヶ月 なかなか入院患者や重症者が減らないのはなぜ？」 https://news.yahoo.co.jp/byline/kutsunasatoshi/20210206-00221255/ -->
{% endblock %}

{% block content %}
{{super()}}
<div class="container">
<h1>コロナ感染者割合マップ</h1>
</div>
<div class="container">
    <div class="frameL">
        <div id="jmap"></div>
    </div>
    <div class="frameR">
        <h2>詳細情報</h2>
        <div id="covid_pref_text">都道府県名をクリックするとここに詳細情報が表示されます</div>
        <canvas id="covid_graph1"></canvas>
        <div id = "covid_pref_text_dead"></div>
        <canvas id="covid_graph2"></canvas>
    </div>
</div>

{%- block footer %}
<div class="container">
<footer>情報: <a href="https://www3.nhk.or.jp/news/special/coronavirus/">NHK新型コロナウイルス関連データ</a></footer>
<footer>情報: <a href="https://uub.jp/pjn/pb20201001.html">都道府県の人口・面積・人口密度（2020年（令和2年））</a></footer>    
</div>
{%- endblock footer %}
{% endblock %}



{% block scripts %}
{{ super() }}
<script src="/static/js/jmap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
    pref_covid_index = {{pref_covid_total_dict|tojson}} // {"県名": [感染者数, 死亡者数]}
    console.log(pref_covid_index)

    areas_kari = [
            {code: 1,name: "北海道",number: 5212462},
            {code: 2,name: "青森県",number: 1230535},
            {code: 3,name: "岩手県",number: 1212201},
            {code: 4,name: "宮城県",number: 2292690},
            {code: 5,name: "秋田県",number: 952069},
            {code: 6,name: "山形県",number: 1064954},
            {code: 7,name: "福島県",number: 1830114},
            {code: 8,name: "茨城県",number: 2854131},
            {code: 9,name: "栃木県",number: 1932091},
            {code: 10,name: "群馬県",number: 1926370},
            {code: 11,name: "埼玉県",number: 7343453},
            {code: 12,name: "千葉県",number: 6281394},
            {code: 13,name: "東京都",number: 13971109},
            {code: 14,name: "神奈川県",number: 9214151},
            {code: 15,name: "新潟県",number: 2199746},
            {code: 16,name: "富山県",number: 1034670},
            {code: 17,name: "石川県",number: 1130159},
            {code: 18,name: "福井県",number: 762679},
            {code: 19,name: "山梨県",number: 806210},
            {code: 20,name: "長野県",number: 2034145},
            {code: 21,name: "岐阜県",number: 1974142},
            {code: 22,name: "静岡県",number: 3618972},
            {code: 23,name: "愛知県",number: 7541123},
            {code: 24,name: "三重県",number: 1767615},
            {code: 25,name: "滋賀県",number: 1412415},
            {code: 26,name: "京都府",number: 2568427},
            {code: 27,name: "大阪府",number: 8817372},
            {code: 28,name: "兵庫県",number: 5438891},
            {code: 29,name: "奈良県",number: 1322970},
            {code: 30,name: "和歌山県",number: 914055},
            {code: 31,name: "鳥取県",number: 551402},
            {code: 32,name: "島根県",number: 666941},
            {code: 33,name: "岡山県",number: 1882356},
            {code: 34,name: "広島県",number: 2794862},
            {code: 35,name: "山口県",number: 1341506},
            {code: 36,name: "徳島県",number: 721269},
            {code: 37,name: "香川県",number: 948801},
            {code: 38,name: "愛媛県",number: 1326487},
            {code: 39,name: "高知県",number: 689785},
            {code: 40,name: "福岡県",number: 5106774},
            {code: 41,name: "佐賀県",number: 808821},
            {code: 42,name: "長崎県",number: 1310660},
            {code: 43,name: "熊本県",number: 1735901},
            {code: 44,name: "大分県",number: 1124983},
            {code: 45,name: "宮崎県",number: 1063759},
            {code: 46,name: "鹿児島県",number: 1587342},
            {code: 47,name: "沖縄県",number: 1458839}
            ] // 後にコロナ感染者の割合がnumberに代入される
    pref_pop = {} // {"県名": 人口}
    for(var i=0; i<47; i++){
        pref_pop[areas_kari[i]["name"]] = areas_kari[i]["number"]

        areas_kari[i]["number"] =  (pref_covid_index[areas_kari[i]["name"]][0] / areas_kari[i]["number"] * 100).toPrecision(4)
    }

    function makeChart(elmid, type, data){
        var chart = new Chart(document.getElementById(elmid).getContext('2d'), {
            type : type,
            data: data
        })
        return chart
    }

    $(document).ready(function() {
        $('#jmap').jmap({
            width: "100%",
            height: "500px",
            backgroundColor: '#e0ffff',
            backgroundRadius: '0.5rem',
            backgroundPadding: '0.5rem',
            prefectureNameType: 'full',
            showHeatmap: true,
            showRoundedPrefecture: true,
            heatmapLabelUnit: '％',
            heatmapType: 'HRed',
            // クリック時に人数指定して、（例えば）10人中何人感染者がいるか出す
            onSelect: function(e, data) {
                // テキスト生成
                var elm = document.getElementById("covid_pref_text")
                elm.textContent = String(data.option.name) + "の人口は"+  pref_pop[data.option.name].toLocaleString() + "人で、これまでの感染者は" + pref_covid_index[data.option.name][0].toLocaleString() + "人でした。\n" + "割合は" + String(data.option.number) + "％ です。"

                var covid_data = {labels: [data.option.name + "の人口", "陽性者"],
                        datasets: [
                            {
                                data: [pref_pop[data.option.name] - pref_covid_index[data.option.name][0], pref_covid_index[data.option.name][0]],
                                backgroundColor: [
                                    "rgb(54, 162, 235)",
                                    "rgb(255, 99, 132)"
                                ]
                            }
                        ]}
                if(window.positiveChart) {window.positiveChart.destroy();}
                window.positiveChart = makeChart("covid_graph1", "pie",covid_data)

                var elm2 = document.getElementById("covid_pref_text_dead")
                elm2.textContent = "陽性者" + pref_covid_index[data.option.name][0].toLocaleString() + "人のうち、死亡したのは" +  pref_covid_index[data.option.name][1].toLocaleString() + "人のため、死亡率は" + String((pref_covid_index[data.option.name][1]/pref_covid_index[data.option.name][0] * 100).toPrecision(4)) + "％です。"

                covid_dead_data = {
                        labels: ["陽性者", "死亡者"],
                        datasets: [
                            {
                                data: [pref_covid_index[data.option.name][0] - pref_covid_index[data.option.name][1], pref_covid_index[data.option.name][1]],
                                backgroundColor: [
                                    "rgb(255, 99, 132)",
                                    "rgb(235, 10, 10)"
                                ]
                            }
                        ]
                    }
                // 円グラフ2
                if(window.deadChart) {window.deadChart.destroy();}
                window.deadChart = makeChart("covid_graph2", "pie", covid_dead_data)
            },
            areas:areas_kari
        });
    });
</script>
{% endblock %}
