<!DOCTYPE html>
<html>
      <head>
        <title>{{name}}</title>
      </head>
      <body>

        {% if name == "a" %}
        <h1>Image</h1>
        {% elif name %}
        <h1>nameがそれ以外のとき</h1>
        {% else %}
        <h1> elseだよ</h1>
        {% endif %}

        <img src="/static/images/take.png" alt="takematsu">

        {% for onegai in all_onegai %}
        <p>{{onegai.title}} : {{onegai.body}} {{onegai.date}}</p>
        {% endfor %}
        <!-- POSTリクエスト送信フォーム POST設定, ボックスの設定, ボタンの設定-->
        <form action="/index" method="POST">
          <input type="text" name="name" placeholder="なんかかいとけ">
          <input type="submit" value="POST送信">
        </form>

      </body>
</html>
