<!DOCTYPE html>
<html>
      <head>
        <!-- render_templateの引数に渡した変数を{{変数名}}でindex.html内で使える-->
        <title>{{name}}</title>
      </head>
      <body>

        {% if name == "a" %}
        <h1>Image</h1>
        {% elif name %}
        <h1>nameがそれ以外のとき</h1>
        {% else %}
        <h1> elseだよ</h1>
        {% endif %}

        <img src="/static/images/take.png" alt="takematsu">

        <!-- データベースからの値を取得して表示-->
        <!-- {% for onegai in all_onegai %} -->
        <!-- <div><input type="radio" name="update" value={{onegai.id}} >{{onegai.title}} : {{onegai.body}} {{onegai.date}}</input></div>
        {% endfor %} -->
        <!-- POSTリクエスト送信フォーム POST設定, ボックスの設定, ボタンの設定-->
        <form action="/index" method="POST">
          <input type="text" name="name" placeholder="なんかかいとけ">
          <input type="submit" value="POST送信">
        </form>

        <!-- app.pyの@app.route("/add", methods=["post"])と紐付け -->
        <form action="/add" method="post">
          <input type="text" name="title" placeholder="title">
          <input type="text" name="body" placeholder="body">
          <input type="submit" value="Add">
        </form>

        <form action="/update" method="post">
          <input type="text" name="title" placeholder="title">
          <input type="text" name="body" placeholder="body">
          <input type="submit" value="Update">
          {% for onegai in all_onegai %}
          <div><input type="radio" name="update" value={{onegai.id}}>{{onegai.title}}：{{onegai.body}}（{{onegai.date}}）</input></div>
          {% endfor %}
      </form>

      </body>
</html>
